header{
    background-color: #38B6FF;
}
.icono {
    width: 42px;
}
nav {
    background-color: #02b7be;
    padding: 1%;
    text-align: center;
}
.navegación {
    color: black;
    text-decoration: none;
}
.toilete {
    padding: 10%;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #38B6FF;
    font-size: 50px;
}
.title h2,h3 {
    margin: 0;
}
.toilete .title,a {
    margin: 30px;
}
.boton {
    padding: 1%;
    text-decoration: none;
    color: black;
    height: 100px;
    width: 100px;
    border: solid 5px #BE33FF;
    background-color: #BE33FF;
    border-radius: 25%;
    overflow: hidden;
}
a:hover {
    color: azure;
}
.introducción {
    background-color: #5CE1E6;
    padding: 5%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.peluches {
    padding: 7%;
}
.familia_toilet {
    font-size: 30px;
    text-align: center;
}
.contacto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.justify {
    text-align: justify ;
}
h4 {
    font-size: 200%;
    padding: 0%;
    border: 0;
    margin: 0;
    margin-bottom: 6%;
}
.productos {
    background-color: #38B6FF;
    padding: 3%;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.acomodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.populares {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populares div{
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 30px;
}
.centrar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.imgs {
    width: 45%;
}
.imgs2 {
    width: 16%;
}
.descuentos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.oferta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arreglito1 {
    margin-left: 5%;
    margin-bottom: 5%;
}
.arreglito2 {
    margin-left: 5%;
}
.descuentoImg {
    width: 150%;
}
p.descuentos {
    color: #E40000;
}
.info {
    background-color: #5CE1E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
table {
    width: 100%;
}
table, tr, td {
    border:2.5px solid black;
    border-collapse: collapse;                
}
tr, td {
    text-align: center;
    padding: 0%;
}
.tablaImg {
    width: 170px;
}
.logo {
    width: 15%;
}
.contacto2 {
    width: 50%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 4%;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    padding: 0%;
    border: 0;
    margin: 0;
}
.mapa {
    width: 100%;
    padding: 0%;
    border: 0;
    margin: 0;
}
.formulario {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.texto {
    font-size: 2%;
}
.boton_feo {
    padding: 1%;
    text-decoration: none;
    color: black;
    height: 100px;
    width: 100px;
    border: solid 5px #28a877;
    background-color: chocolate;
    border-radius: 25%;
    overflow: hidden;
}
.footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.background {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}